body {
    background: #fefefe;
}

section {
    background: #ffffff;
}
.main-heading {
    color: blue;
}

.secondary-heading {
    color: #1460AA;
}

.special-header {
    color: hotpink;
}

p {
    color: #1d1285;
}

#top {
    background: #1cd6a8;
}

a {
    color:#db6adb;
}
nav a {
    color: #8dce24;
}

#name {
    color: red;
}

.header {
    background: #e7e6e6 ;
}


