html {
  box-sizing: border-box;
}

*, *:before,*:after {
  box-sizing: inherit;
}

body {
  background: #fefefe;
}

section {
  background: #ffffff;
}


.secondary-heading {
  color: #1460aa;
}

.special-header {
  color: hotpink;
}

a {
  color: #db6adb;
}

.header {
  background: #e7e6e6;
}

.navigation {
  background: #478a05;
  padding: 16px;
  border-radius: 8px;
}

.navigation__link {
  color: #fff;
  display: inline-block;
  margin-right: 20px;
}

.navigation__link--homepage{
  background: yellow;
  color: #000;
}

.week-summary{
  padding: 16px;
  border: 1px #ccc solid;
  margin-bottom: 16px;
}

.week-summary__title{
  color: #21a179;
}

.week-summary__description{
  color: #92140c;
}

.week-summary--special{
  border: 1px #92140c solid;
}

.main {
  max-width: 1000px;
  margin: 0 auto;
}

.main__heading {
  color: #92140c;
}

.about{

}

.about__heading{
  color: #1460aa;
}

.about__link {
  color: #92140c;
}

.notes {

}

.notes__heading {
  color: #1460aa;
}

.footer {
  max-width: 1000px;
  margin: 0 auto;
}

.footer__link {
  color: #1460aa;
}

.list {

}

.list__item {
  list-style: lower-roman;
}

.table {
  width: 100%;
}
